{% extends "base.html" %}
{% block content %}
<div class="container">
  <header class="m-2 p-3"></header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Feng Chia University Course Credit</h1>
      <p class="lead ml-1"><strong>Please select your department or login with NID</strong></p>
    </div>
  </div>
  <div class="row input-group my-3 mx-auto w-75">
    <input type="text" class="form-control" id="unitInput" placeholder="請輸入科系名稱">
    <div class="input-group-append">
      <button id="findbtn" class="btn btn-outline-primary">查詢科系</button>
    </div>
  </div>
  <p class="col-12 text-center">OR</p>
  <form class="row input-group my-3 mx-auto w-75" action="/nidLogin" method="post">
    <div class="input-group">
      <input type="text" class="form-control" name="nid_acc" placeholder="學號">
      <input type="password" class="form-control" name="nid_pwd" placeholder="NID密碼">
      <button id="submit" class="form-control btn btn-outline-primary">NID登入</button>
    </div>
  </form>
  <div class="row" id="unitTable">
    {% for key, value in data.items() %}
    <div class="card m-2 row">
      <div class="card-body">
        <div class="card-title">
          <h5 class="card-text text-primary">{{ key }}</h5>
        </div>
        {% for i in value %}
        <button class=" btn btn-outline-secondary m-1 unitRequest" id="{{ i }}">
          {{ i }}
        </button>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  $(function() {
    jQuery.expr[':'].regex = function(elem, index, match) {
      var regex = new RegExp(match[3]),
        $elem = $(elem);
      return regex.test($elem.attr('class')) || regex.test($elem.attr('id'));
    };
    $("#findbtn").click(() => {
      let temp = $("#unitInput").val();
      let target = ".*";
      temp.split("").forEach((e) => {
        target += (e + ".*");
      });
      target = 'button:regex(' + target + ')';
      if ($(target).length === 0) {
        alert("科系不存在");
      } else {
        $.smoothScroll({
          scrollTarget: target,
          offset: -150
        });
        $(target).removeClass("btn-outline-secondary");
        $(target).addClass("btn-primary");
      }
    });
    $(".unitRequest").click((event) => {
      window.location = '/getClassList?unit=' + event.target.id;
    });
  });
</script>
{% endblock content %}