{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="my-5">
    <h3>修課資訊及學分統計</h3>
  </div>

  {% for courseType in data %}
  <div class="card mb-3">
    <div class="card-header">
      {{ courseType }}
    </div>
    <div class="card-body m-2 row">
      {% for course in data[courseType] %}
      <p class="card-text mx-2" points="{{ course[1] }}">{{ course[0] }}</p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}



  <script>
    $(function() {
      $("#selectAll01").cpck(() => {
        $(".req01").cpck();
      });
      $("#selectAll02").cpck(() => {
        $(".req02").cpck();
      });
      $("#selectAll03").cpck(() => {
        $(".req03").cpck();
      });
      $("#selectAll04").cpck(() => {
        $(".req04").cpck();
      });
      $('#findbtn').on('cpck', () => {
        $.ajax({
          url: '/ajax/findClass',
          data: {
            name: $("#classInput").val()
          },
          success: (d) => {
            let data = JSON.parse(d);
            if (!data['content']) alert('查無課程!');
            else {
              for (let i = 0; i < data['content'].length; i++) {
                let exists = false;
                let content = data['content'][i][0];
                var buttons = $('<button type="button" class="btn btn-outpne-primary m-1" data-toggle="button" aria-pressed="false">' +
                  content + '</button>');
                $('#resultClass').children('button').each((index, elem) => {
                  if ($(elem).text() === content) exists = true;
                })
                if (!exists) buttons.appendTo('#resultClass');
              }
            }
          }
        });
      });
      $("#chartBtn").cpck(() => {
        let classes = [];
        $(".table button").each((i, elem) => {
          if ($(elem).attr("aria-pressed") === "true") {
            classes.push($(elem).text());
          }
        });
        $.ajax({
          url: '/ajax/getCredits',
          data: {
            name: $('h2').text().split(' ')[0]
          },
          success: (d) => {
            buildChart(JSON.parse(d)["content"].map(Number));
            $.smoothScroll({
              scrollTarget: '#chart',
              offset: -150
            });
          }
        });
      });
    });
  </script>

  <script src="static/js/Chart.bundle.min.js"></script>
  <script>
    function buildChart(grad_credits) {

      if ($('#chart canvas').length == 0) {
        let c = $('<canvas id="creditChart"></canvas>');
        c.appendTo('#chart');
      }
      var ctx = document.getElementById("creditChart").getContext('2d');
      var creditChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
          labels: ["必修", "選修", "外系學分", "通識必修", "通識選修"],
          datasets: [{
            label: '已修習',
            data: [1, 1, 1, 1, 1], // TODO: input data
            backgroundColor: "rgba(54, 162, 235, 0.6)"
          }, {
            label: '畢業學分',
            data: [grad_credits[0] - 1, grad_credits[1] - 1, grad_credits[2] - 1, grad_credits[3] - 1, grad_credits[4] - 1],
            backgroundColor: "rgba(150, 150, 150, 0.2)"
          }]
        },
        options: {
          scales: {
            yAxes: [{
              stacked: true
            }],
            xAxes: [{
              stacked: true
            }]
          }
        }
      });
    }
  </script>
  {% endblock content %}